node_modules
.local
data
# docker-file/verdaccio1/plugin
# docker-file/verdaccio2/*
docker-file/verdaccio*/storage/*
!docker-file/verdaccio*/storage/.verdaccio-db.json
# !docker-file/verdaccio*/storage/.verdaccio-db.json